<% provide(:title, 'コメント内容') %>
<h3>コメント内容</h3>  
<section class="comment-wrap"> 
    <div class="comment">
        <div class="post">
            <div class="post-box">
                    <%= link_to(user_path(@comment.user), class: "user-bar") do %>
                        <div class="user-image">
                            <img src="" alt="">
                        </div>
                        <div class="user-info">
                            <span class ="user-name"><%= @comment.user.name %></span>
                            <span class ="user-major"><%= @comment.user.year %><%= @comment.user.major %></span>
                        </div>
                        <div class ="time">
                            <%= time_ago_in_words(@comment.created_at) %> 
                            <span> ago</span>
                        </div>
                    <% end %>
                    <%= link_to("#", class: "post-content") do %>
                        <p><%= @comment.content %></p>
                    <% end %>
            </div>
            <div class="action-bar">
                    <%= link_to("#", class: "reply-btn") do %>
                        <span class="fa fa-comments reply-btn" aria-hidden="true">  <%= @comment.replies.count %></span>
                    <% end %>
                    <% if @current_user.id == @comment.user.id && @comment.present? %>
                        <%= link_to(micropost_comment_path(comment_id: @comment.id), method: :delete, class: "delete-btn", data: { confirm: "このコメントを削除しますか？" }) do %>
                            <span class="fa fa-trash delete-btn" aria-hidden="true"></span>
                        <% end %>
                    <% end %>
            </div>
                <%# input form  %>
            <div id="form" class="form-reply">
                    <%= form_with(model:[@micropost, @comment, @reply], method: :post, local: true) do |f| %>
                    <%= hidden_field_tag :comment_id, @comment.id %>
                        <div class="row ">
                            <%= f.text_area :content, class: 'form-control', placeholder: "140文字以内にテキストを入力してください", size: "32x2" %>
                            <%= f.submit "返信する", class: "btn btn-sm" %>
                        </div>
                    <% end %>
            </div>

            <%# reply list %>
            <% @replies.each do |reply| %>
                <div class="replies">
                    <div class="post">
                        <div class="post-box">
                            <%= link_to(user_path(reply.user), class: "user-bar") do %>
                                <div class="user-image">
                                    <img src="" alt="">
                                </div>
                                <div class="user-info">
                                    <span class ="user-name"><%= reply.user.name %></span>
                                    <span class ="user-major"><%= reply.user.year %><%= reply.user.major %></span>
                                </div>
                                <div class ="time">
                                    <%= time_ago_in_words(reply.created_at) %> 
                                    <span> ago</span>
                                </div>
                            <% end %>
                            <%= link_to("#", class: "post-content") do %>
                                <p><%= reply.content %></p>
                            <% end %>
                        </div>
                        <div class="action-bar">
                            <% if @current_user.id == reply.user.id && reply.present? %>
                                <%= link_to(micropost_comment_reply_path(reply, comment_id: @comment.id), method: :delete, class: "delete-btn", data: { confirm: "この返信を削除しますか？" }) do %>
                                    <span class="fa fa-trash delete-btn" aria-hidden="true"></span>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>