<% provide(:title, 'ユーザーを探す') %>
<h2>ユーザーを探す</h2>
<%= form_with(url: search_users_path, local: true, method: :get, class: "form form-search") do |f| %>
  <%= f.select :year, [['--- 2020年度 ---', '2020年度'], ['--- 2019年度 ---', '2019年度'],['--- 2018年度 ---', '2018年度']], 
                        { include_blank: false, selected: params[:year]}, {class: "form-select"} %> 
  <%= f.text_field :name, placeholder: "名前を入力して友達を探す", value: params[:name] %>   
  <%= f.submit "検索", class: "btn btn-sm search-btn" %>
<% end %>
  <div class="user-list">
  <% if @users.present? %>
      <% @users.each do |user| %>
        <%= link_to(user_path(user), class: "card") do %>
            <div class="user-image"><img src="" alt=""></div>
            <div class="user-info">
                <span class ="user-name"><%= user.name %></span>
                <span class ="user-major"><%= user.year %><%= user.major %></span>
            </div>
        <% end %>
        <% if @current_user.id != user.id %>
            <div id ="follow_form_<%= user.id %>">
                <% if @current_user.following?(user) %>
                    <%= render "shared/unfollow_btn", user: user  %>
                <% else %>
                    <%= render "shared/follow_btn", user: user %>
                <% end %>
            </div>
        <% end %>
      <% end %>
        <% else %>
        <p>キーワードと一致するユーザーが見つかりません</p>
    <% end %>
  </div>