<% provide(:title, 'ユーザーを探す') %>

<%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :name, placeholder: "名前を入力して友達を探す", class: "search-input" %>
  <%= form.submit "検索", class: "btn btn-primary btn-sm search-btn" %>
<% end %>

  <div class="user-list">
      <% @users.each do |user| %>
        <%= link_to(user_path(user), class: "card") do %>
            <div class="user-image"><img src="" alt=""></div>
            <div class="user-info">
                <span class ="user-name"><%= user.name %></span>
                <span class ="user-major"><%= user.year %><%= user.major %></span>
            </div>
          <% if @current_user.id != user.id %>
            <% if @current_user.following.find_by(id: user.id) == nil %>
                <%= form_with(model: @current_user.active_relationships.build, local: true) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "フォローする", class: "btn btn-primary btn-sm" %>
                <% end %>
            <% else %>
                <%= form_with(model: @current_user.active_relationships.find_by(followed_id: user.id),
                            html: { method: :delete }, local: true) do |f| %>
                <%= f.submit "フォロー解除", class: "btn btn-sm" %>
                <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  </div>