<% provide(:title, '新規登録') %>
<h1>新規登録</h1>
<div class="form">
    <%= render 'shared/error_messages' %>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "新規登録", class: "btn btn-medium" %>
    <% end %>
</div>