<% provide(:title, 'Profile') %>
<h1>Profile</h1>

    <h2><%= @user.name %></h2>
    <span><%= @user.email %></span>
    <span><%= @user.year %></span>
    <span><%= @user.major %></span>
    <% if @current_user.id == @user.id %>
    <%= link_to("編集", "/users/#{@user.id}/edit") %>
    <%= link_to("ログアウト", "/logout", method: :post, data: { confirm: "ログアウトしますか？" )%>
    <%= link_to("アカウント削除", "/users/#{@user.id}/destroy", method: :delete, data: { confirm: "アカウントが削除されます！" } )%>
    <% end %>
<section>
    <h3>投稿一覧</h3>
    　<div class="posts">
        <div class = "card">
            <div class="post">
                <% @user.microposts.each do |micropost| %>
                    <div class="post-box">
                        <div class="user-image">
                            <img src="" alt="">
                        </div>
                        <div class="post-content">
                            <div class="user-bar">
                                <div class="user-info">
                                    <span class ="user-name"><%= micropost.user.name %></span>
                                    <span class ="user-major"><%= micropost.user.year %><%= micropost.user.major %></span>
                                </div>
                                <span class ="time"><%= time_ago_in_words(micropost.created_at) %></span>
                            </div>
                            <p><%= micropost.content %></p>
                            <% if @current_user.id == @user.id %>
                                <%= link_to("編集", "/microposts/#{micropost.id}/edit") %>
                                <%= link_to("削除", "/microposts/#{micropost.id}", method: :delete, data: { confirm: "投稿が削除されます！" }) %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<section>
    <h3>いいね!</h3>
