<% provide(:title, @title) %>

    <h2><%= @user.name %><%= @heading %>リスト</h2>
    <div class="user-list">
        <% if @users.any? %>
            <% @users.each do |user| %>
                <%= link_to(user_path(user), class: "card") do %>
                    <div class="user-image"><img src="" alt=""></div>
                    <div class="user-info">
                        <span class ="user-name"><%= user.name %></span>
                        <span class ="user-major"><%= user.year %><%= user.major %></span>
                    </div>
                <% end %>
                <% if @current_user.id != user.id %>
                    <div id = "follow_form_<%= user.id %>">
                        <% if @current_user.following?(user) %>
                            <%= render "shared/unfollow_btn", user: user  %>
                        <% else %>
                            <%= render "shared/follow_btn", user: user %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <p><%= @user.name %><%= @heading %>はいません</p>
        <% end %>
    </div>
