            <div class="action-bar">
                    <div class="comment-btn">
                      <%= link_to(micropost_path(micropost)) do %>
                        <span class="fa fa-commenting comment-btn" aria-hidden="true">   <%= micropost.comments.count %></span>
                      <% end %>
                    </div>

                    <div id="like_btn_<%= micropost.id %>" class="like-btn">
                        <% if @current_user.like?(micropost)  %>
                          <%= render 'shared/unlike_btn', micropost: micropost %>
                        <% else %>
                          <%= render 'shared/like_btn', micropost: micropost %>
                        <% end %>
                    </div>

                    <% if @current_user.id == micropost.user.id && @micropost.present? %>
                        <div class="delete-btn">
                          <%= link_to(edit_micropost_path(micropost)) do %>
                            <span class="fa fa-edit edit-btn"></span>
                          <% end %>
                        </div>
                        <div class="delte-btn">
                          <%= link_to(micropost_path, method: :delete, data: { confirm: "この投稿を削除しますか？" }) do %>
                            <span class="fa fa-trash delete-btn" aria-hidden="true"></span>
                          <% end %>
                        </div>
                    <% end %>
            </div>