  <div class="posts">
    <div class = "card">
        <div class="post">
            <div class="post-box">
                  <%= link_to(user_path(micropost.user), class: "user-bar") do %>
                      <div class="user-image">
                        <img src="" alt="">
                      </div>
                      <div class="user-info">
                          <span class ="user-name"><%= micropost.user.name %></span>
                          <span class ="user-major"><%= micropost.user.year %><%= micropost.user.major %></span>
                      </div>
                      <div class ="time">
                          <%= time_ago_in_words(micropost.created_at) %> 
                          <span> ago</span>
                      </div>
                  <% end %>
                  <%= link_to(micropost_path(micropost), class: "post-content") do %>
                      <p><%= micropost.content %></p>
                  <% end %>
            </div>
            <div class="action-bar">
                <%= link_to(micropost_path(micropost), class: "comment-btn") do %>
                  <span class="fa fa-commenting comment-btn" aria-hidden="true">   <%= micropost.comments.count %></span>
                <% end %>

                <div id="like_btn_<%= micropost.id %>" class="like-btn">
                    <% if @current_user.like?(micropost)  %>
                      <%= render 'shared/unlike_btn', micropost: micropost %>
                    <% else %>
                      <%= render 'shared/like_btn', micropost: micropost %>
                    <% end %>
                </div>

                <% if @current_user.id == micropost.user.id && @micropost.present? %>
                    <%= link_to(edit_micropost_path(micropost), class: "delete-btn") do %>
                      <span class="fa fa-edit edit-btn"></span>
                    <% end %>
                    <%= link_to(micropost_path, method: :delete, class: "delete-btn", data: { confirm: "この投稿を削除しますか？" }) do %>
                      <span class="fa fa-trash delete-btn" aria-hidden="true"></span>
                    <% end %>
                <% end %>
            </div>   
        </div>
    </div>
  </div>