                  <%= link_to(user_path(micropost.user), class: "user-bar") do %>
                      <div class="user-image">
                        <img src="" alt="">
                      </div>
                      <div class="user-info">
                          <span class ="user-name"><%= micropost.user.name %></span>
                          <span class ="user-major"><%= micropost.user.year %><%= micropost.user.major %></span>
                      </div>
                      <div class ="time">
                          <% if micropost.created_at != micropost.updated_at %>
                            <span>edited</span>
                          <% end %>
                          <%= time_ago_in_words(micropost.updated_at) %> 
                          <span> ago</span>
                      </div>
                  <% end %>