                  <%= link_to(user_path(micropost.user), class: "user-bar") do %>
                      <div class="user-image">
                        <% if micropost.user.user_image.attached? %>
                          <%= image_tag micropost.user.user_image %>
                        <% end %>
                      </div>
                      <div class="user-info">
                          <span class ="user-name"><%= micropost.user.name %></span>
                          <span class ="user-major"><%= micropost.user.year %><%= micropost.user.major %></span>
                      </div>
                      <div class ="time">
                          <%= time_ago_in_words(micropost.updated_at)%><span>前に</span><% if micropost.created_at != micropost.updated_at %><span>編集された</span>
                          <% else %><span>作成された</span><% end %>
                      </div>
                  <% end %>