<% provide(:title, '投稿一覧') %>
<h2>投稿一覧</h2>
<%= form_with(url: search_microposts_path, local: true, method: :get, class: "form form-search") do |f| %>
  <%= f.select :year, [['----- 全て -----', 'all'], ['--- 2020年 ---', '2020'], ['--- 2019年 ---', '2019'],['--- 2018年 ---', '2018']], 
                        { include_blank: false}, {class: "form-select"} %>  
  <%= f.submit "検索", class: "btn btn-sm search-btn" %>
<% end %>

<% @microposts.each do |micropost| %>
    <div class="post">
        <div class="post-box">
            <%= render 'shared/user_bar', micropost: micropost  %>
            <%= link_to(micropost_path(micropost), class: "post-content") do %>
                <p><%= micropost.content %></p>
            <% end %>
            <%= render 'shared/post_action_bar', micropost: micropost %>
        </div>
        <% if micropost.comments.first.present? %>
            <div class="latest">
              <h5>最新コメント</h5>
              <%= render 'shared/user_bar', micropost: micropost.comments.first %>
              <%= link_to(micropost_path(micropost), class: "post-content") do %>
                  <p><%= micropost.comments.first.content %></p>
              <% end %>
            </div>
        <% end %>
    </div>
<% end %>