<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-expand-sm font-weight-bold">
  <div class="container">
  <div class="logo">
      <%= link_to root_path, class:"text-decoration-none d-flex" do %>
        <%= image_tag  "logo.png" %>
        <h1 class="font-weight-bold">スポフェスCampusTweet</h1>
      <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-light"></span>
  </button>
    <nav>
      <ul id="navbarNav" class="nav justify-content-end collapse navbar-collapse">
        <% if @current_user %>
          <li class="nav-item"><%= link_to "投稿する", new_micropost_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "競技トピックス一覧", microposts_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "ユーザーを探す", users_path, class: "nav-link text-decoration-none" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "ホーム",  root_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link text-decoration-none" %></li>
        <% end %>
        <li class="nav-item dropdown">
          <a href="#" class=" nav-link text-decoration-none dropdown-toggle" data-toggle="dropdown">
              スポフェス情報 <b class="caret"></b>
          </a>
          <div class="dropdown-menu">
            <%= link_to "スゲジュール", "#", class: "nav-link text-decoration-none dropdown-item" %>
            <%= link_to "Q&A",  about_path, class: "nav-link text-decoration-none dropdown-item" %>
            <%= link_to "アクセス", '#', class: "nav-link text-decoration-none dropdown-item"%>
          </div>
        </li>
        <% if @current_user %>
          <li class="nav-item"><%= link_to "プロフィール",  user_path(@current_user), class: "nav-link text-decoration-none" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  </header>
  <main>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
