<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>

  <header class="navbar navbar-expand-md font-weight-bold fixed-top">
    <div class="logo navbar-brand">
        <%= link_to root_path, class:"text-decoration-none d-flex" do %>
          <%= image_tag  "logo.png", class: "logo-image" %>
          <h1 class="font-weight-bold">スポフェス<br>CampusTweet</h1>
        <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav id="navbarNav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <% if @current_user %>
          <li class="nav-item"><%= link_to "投稿する", new_micropost_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "投稿一覧", microposts_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "友達を探す", users_path, class: "nav-link text-decoration-none" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "ホーム",  root_path, class: "nav-link text-decoration-none" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link text-decoration-none" %></li>
        <% end %>
        <li class="nav-item dropdown">
          <a href="#" class=" nav-link text-decoration-none dropdown-toggle" data-toggle="dropdown">
              スポフェス情報 <b class="caret"></b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "競技詳細", contents_path, class: "nav-item text-decoration-none dropdown-item dropdown-info" %>
            <%= link_to "スゲジュール", schedule_path, class: "nav-item text-decoration-none dropdown-item dropdown-info"%>
            <%= link_to "FAQ",  about_path, class: "nav-item text-decoration-none dropdown-item dropdown-info" %>
          </div>
        </li>
        <% if @current_user %>
          <li class="nav-item"><%= link_to "MYプロフィール",  user_path(@current_user), class: "nav-link text-decoration-none" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <small>WANG YUXING</small>
    <address>
      <small><a href="mailto:yukiwyx1019@gmail.com">yukiwyx1019@gmail.com</a></small>
    </address>
  </footer>
</body>
</html>
